
<ion-content [fullscreen]="true" class="page-container">
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <ion-title class="title">Create Your Account</ion-title>

      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>
        <ion-input formControlName="fullName" placeholder="Enter your full name"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('fullName')?.invalid && (registerForm.get('fullName')?.touched || registerForm.get('fullName')?.dirty)">
        <small>Full name is required</small>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Email Address</ion-label>
        <ion-input formControlName="email" type="email" placeholder="yourname@gmail.com"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)">
        <small>Please enter a valid email</small>
      </ion-text>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Minimum 6 characters"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">
        <small>Password must be at least 6 characters</small>
      </ion-text>

      <ion-button expand="block" type="submit" class="primary" [disabled]="registerForm.invalid">
        Create Account
      </ion-button>
    </form>

    <ion-button expand="block" fill="clear" (click)="navigateToLogin()">
      Already have an account? Login
    </ion-button>
  </div>
</ion-content>